.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ------------------- */
.App {
  background-color: #f0f1f3;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  align-items: center;
}
.header button{
  background: #295f8e;
  outline: none;
  border-radius: 36px;
  height: 37px;
  color: #fff;
  padding: 0px 18px;
  border: none;
}
.no_locn{
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f0f1f3;
  padding: 14% 0;
}
.no_locn img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  justify-content: center;
  align-items: center;
  display: flex;
}
form {
  width: 586px;
  background: #fff;
  box-shadow: 0px 0px 4px 4px #dedbdb;
}
.col2{
  display: grid;
  grid-template-columns: 276px 276px;
  width: 586px;
  align-items: start;
  justify-content: space-between;
}
.col4{
  display: grid;
  grid-template-columns: 72px 150px 150px 150px;
  width: 586px;
  align-items: start;
  justify-content: space-between;
}
.col2-2{
  display: grid;
  grid-template-columns: 121px 121px;
  width: 275px;
  align-items: start;
  justify-content: space-between;
}
.ctn_chk {
  height: 100%;
  align-items: center;
  grid-template-columns: 21px 45px;
  width: auto;
}
.ctn_inp {
  height: 100%;
  align-items: center;
  grid-template-columns: 71px 71px;
  width: auto;
}
.ctn_chk div{
  padding: 0;
}
.add_times .time_zone{
  display: inline-flex;
  padding: 0;
  height: 100%;
  align-items: center;
}
.time_zone span{
  line-height: 30px;
  width: 100%;
  background-color: #e3e3e3;
  color: #030303;
}
.time_zone .selected {
  background-color: #295f8e;
  color: #fff;
}
.add_times .am{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.add_times .pm{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.add_times .btn{
  height: 100%;
  align-items: center;
  display: flex;
}
.add_times .btn button{
  background: #fff;
  border-radius: 4px;
  color: #295f8e;
  padding: 0 8px;
  line-height: 26px;
  border: 1px solid #295f8e;
}
/* input[type="checkbox"] {
  background-color: #fff;
} */
.add_times .ctn_inp input{
  border: 1px solid #cbcbcb;
  border-radius: 4px;
}
form{
  padding: 28px;
  font-size: 12px;
  color: #aeaeae;
}
form .label {
  text-align: left;
}
form input {
  width: 100%;
  padding-left: 4px;
    line-height: 26px;
    outline: none;
    border: none;
    border-bottom: 1px solid #cbcbcb;
}
form h1{
  color: #576b7e;
  font-size: 16px;
  text-align: left;
  margin: 0 0px 12px -12px;
}
form .name{
  color: #1989b0;
}
.hover{
  color: #41586b;
}
form div{
  padding: 3px 0 6px 0;
}
.bottom{
  display: flex;
  justify-content: flex-end;
  margin-top: 42px;
}
.head .label{
  color: #030303;
}
.bottom button{
  width: 120px;
  height: 38px;
  border-radius: 4px;
  background-color: #23588d;
  border: none;
  outline: none;
  color: #fff;
}
.bottom .cancel{
  background-color: #ff575a;
  margin-right: 20px;
}
.error {
  border-bottom: 1px solid red
}
select {
  padding-left: 4px;
  height: 32px;
  width: calc(100% + 4px);
  line-height: 26px;
  background-color: #fff;
  outline: none;
  border: none;
  border-bottom: 1px solid #cbcbcb;
}
.tags {
  display: flex;
  padding: 0;
  width: calc(100% + 4px);
  border-bottom: 1px solid #cbcbcb;
}
.tags input {
  border: none;
}
.tags .ctn_tags{
  padding: 0;
  display: flex;
  padding: 0;
}
.ctn_tags div{
  background: #23588d;
  margin-right: 4px;
  padding: 5px 10px;
  border-radius: 11px;
  align-items: center;
  display: flex;
  color: #fff;
  margin-bottom: 5px;
}
ul {
  width: 100%;
  list-style-type: none;
  padding: 0 6px;
}
li {
  display: flex;
  justify-content: space-between;
  padding: 0px 12px;
  background: #fff;
  border-radius: 26px;
  box-shadow: 0px 0px 4px 4px #dedbdb;
  margin-bottom: 8px;
}
.heading .item{
  color: #030303;
}
li .item {
  font-size: 12px;
  display: flex;
  color: #aeaeae;
  width: 100%;
  line-height: 32px;
  padding: 0;
  text-align: left;
  align-items: center;
}
li .index {
  width: 142px;
}
.blue_circle {
  border-radius: 100%;
  width: 24px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #295f8e;
  height: 24px;
}
.ctn_icn img{
  height: 21px;
  padding: 0 3px;
}
li .ctn_icn {
  width: 264px;
}
li .disabled {
  background-color: #f0f1f3;
}
.pagination {
  color: #aeaeae;
  align-items: center;
  width: 100%;
  font-size: 12px;
  justify-content: center;
  display: flex;
}
.pagination .text {
  display: flex;
  height: 52px;
}
.pagination .text span {
  width: 121px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.pagination .text select {
  justify-content: center;
  color: #aeaeae;
  align-items: center;
  display: flex;
  width: 42px;
  margin: 12px 30px 0 0;
}
.pagination img{
  height: 16px;
  margin-right: 4px;
}
.clk {
  width: 100%;
  padding-left: 4px;
  height: 19px;
  outline: none;
  border: none;
  border-bottom: 1px solid #cbcbcb;
}